/* ### STYLES FOR MENU (mobile firts) ### */

.menu {
	/* ## BASE ### */
	width: 100%;
	color: #eee;
	height: 32px;
	margin: auto;

	/* ### UTILS ### */
	/* ** State ** */
	/* &.open {} */
	/* &.close {} */
	/* &.visible {} */
	/* &.hiden {} */

	/* ** Sizes ** */
	/* &.sm {} */
	/* &.md {} */
	/* &.lg {} */

	/* ** Variants ** */
	/* &.outline {} */
	/* &.containe {} */

	/* ** Theme ** */
	/* &.light {} */
	/* &.dark {} */

	/* ### NESTED ELEMENTS ### */
	.options {
		background-color: #191919;
		border: 1px solid rgba(255, 255, 255, 0.125);
		list-style-type: none;
		display: flex;
		justify-content: space-around;
		font-size: 28px;
		padding: 4px;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		width: inherit;

		.item {
			cursor: pointer;
			transition: all 0.2s linear;
			display: flex;
			align-items: center;
			gap: 8px;
			position: relative;

			a {
				text-decoration: none;
				color: #eee;

				&.active {
					color: cornflowerblue;
				}
			}

			.tooltip {
				display: none;
			}
		}
	}

	/* ### MEDIA QUERIES ### */
	/* ** Large Mobile **  */
	/* @media (width > 413px) {} */

	/* ** Table ** */
	@media (width > 833px) {
		width: fit-content;
		display: flex;
		justify-content: center;
		align-items: center;

		.options {
			padding: 8px 32px;
			bottom: 32px;
			border-radius: 12px;
			gap: 32px;
			background-color: rgba(19, 19, 19, 0.80);
			backdrop-filter: blur(13px) saturate(180%);
			left: initial;
			right: initial;

			.item {
				padding: 0;

				&:hover {
					scale: 1.2;
				}

				.tooltip {
					display: none;
					position: absolute;
					background-color: #191919;
					padding: 4px 8px;
					font-size: 12px;
					bottom: 48px;
					border-radius: 16px;
					left: 50%;
					transform: translateX(-50%);
					margin: auto;

					&.is-hovergin {
						display: block;
					}
				}
			}
		}
	}

	/* ** Desktop ** */
	/* @media (width > 1119px) {} */
}
