/* ### STYLES FOR HOME (mobile firts) ### */

.home {
	/* ## BASE ### */
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 16px;
    height: 100vh;
    max-height: 700px;
    padding-bottom: 32px;

	/* ### UTILS ### */
	/* ** State ** */
	/* &.open {} */
	/* &.close {} */
	/* &.visible {} */
	/* &.hiden {} */

	/* ** Sizes ** */
	/* &.sm {} */
	/* &.md {} */
	/* &.lg {} */

	/* ** Variants ** */
	/* &.outline {} */
	/* &.containe {} */

	/* ** Theme ** */
	/* &.light {} */
	/* &.dark {} */

	/* ### NESTED ELEMENTS ### */
    article {
        border-radius: 4px;
        box-shadow: 4px 4px 4px rgba(51, 51, 51, 0.50);
        background-color: #222;
        padding: 16px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 4px;
        }
        
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
            cursor: grabbing;
            background: #111;
            border-radius: 10px;
        }
    }

    .notifications {
        grid-row: 1/12;
        grid-column: 1/6;
    }

    .stacks {
        grid-row: 1/6;
        grid-column: 6/12;
    }

    .last-invoices {
        grid-row: 6/12;
        grid-column: 6/9;
    }

    .stock-alert {
        grid-row: 6/12;
        grid-column: 9/12;
    }

	/* ### MEDIA QUERIES ### */
	/* ** Large Mobile **  */
	/* @media (width > 413px) {} */

	/* ** Table ** */
	/* @media (width > 833px) {} */

	/* ** Desktop ** */
	/* @media (width > 1119px) {} */
}
