/*
    =============================================
    | STYLES FOR ALERT COMPONENT (mobile firts) |
    =============================================
*/
/* Small Mobile */
.alert {
    /*
        ========
        | BASE |
        ========
    */
    padding: 16px;
    max-width: 600px;
    color: #EEEEE0;
    border-radius: 8px;
    border: 0.75px solid #AFAFAF;
    background-color: #191919;
    display: flex;
    gap: 14px;
    margin: 0 auto;

    /*
        ===================
        | NESTED ELEMENTS |
        ===================
    */
    .alert-icon {
        font-size: 24px;
        margin: 0;
    }

    .alert-body {
        .alert-title {
            margin: 0;
            font-weight: 600;
        }

        .alert-content {
            margin-top: 4px;
            color: #AFAFAF;
            font-size: 14px;
        }
    }

    /*
        =================
        | MEDIA QUERIES |
        =================
    */
    /* Large Mobile  */
    @media (414px <= width <= 833px) {}
    
    /* Table */
    @media (834px <= width <= 1119px) { }
    
    /* Desktop */
    @media (width >= 1120px) {}
}

